{% extends 'baseHome.html.twig' %}

{% block body %}

    <h1>
        JoliNeck
    </h1>

    <div>
        <p>
            {% trans %}Welcome here... Jolineck is happy to provide tools for neck instrument players (as well as all kind of musician).{% endtrans %}
        </p>
    </div>

    <div>

        <h2>
            {% trans %}Available necks{% endtrans %}
        </h2>

        <ul class="instrumentsByFamily_family">
           {% for family in instrumentFamilies %}
               <h3>
               {% if family.icon is not null %}
                   <img class="instrumentIcon" src="{{ asset('uploads/instrument/' ~ family.icon) }}">
               {% endif %}
               {{  family.name|trans|capitalize }}</h3>
               <ul class="instrumentsByFamily_instrument">
                   {% for instrument in family.instruments %}
                   <li>
                       <a href="{{ path('site_neck',{instrumentId:instrument.id ,instrumentName:instrument.name|trans}) }}">
                           {{ instrument.name|trans }}
                       </a>
                   </li>
                   {% endfor %}
               </ul>
           {% endfor %}
        </ul>
    </div>


    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </div>


{% endblock %}
