{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ descriptor.name }}</h1>

    <ul>Scales in other descriptor:
        {% for scaleType in scaleTypes %}
        <li style="display: inline">
            <a style="color: #{{ scaleType.color }}" href="{{ path('site_scale_descriptor_show' , {descriptor_name:scaleType.name} ) }}">{{ scaleType.name }}</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Scale described as {{ descriptor.name }}</h2>
    <ul id="neckResultsList">
    {% for scale in scales %}
        <li>
            <div class="titleInVignette">
                <a href="{{ path('site_scale_show' , {scale_name:scale.name} ) }}">{{ scale.name }}</a>
            </div>
            <div>
                <canvas id="d{{ scale.id }}" width="180" height="180"></canvas>
                <script>
                    var datas = {};
                    {% for intervale in scale.intervales %}
                    datas[{{ intervale.delta }}] = ["C","{{ intervale.name  }}","{{ intervale.color  }}"];
                    {% endfor %}
                    new diagram("d{{ scale.id }}",datas);
                </script>
            </div>
        </li>
    {% endfor %}
    </ul>


{% endblock %}