{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ scale.name }}</h1>
<div id="container1">
    <div id="col1">
        <div>
            <h2>tagged as:</h2>
            <ul class="tagged">
                {% for descriptor in scale.descriptors %}
                    <li >
                        <a style="color: #{{ descriptor.color }}" href="{{ path('site_scale_descriptor_show',{descriptor_name:descriptor.name}) }}">{{ descriptor.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2>Intervals</h2>
            {%  for intervale in scale.intervales %}
                <span class="intervale" style="color: #{{  intervale.color }}">{{  intervale.name }}</span>
            {% endfor %}
        </div>

        <div>
            <h2>Diagram:</h2>
            <canvas id="diagram" width="180" height="180"></canvas>
            <script>
                var datas = {};
                {% for intervale in scale.intervales %}
                datas[{{ intervale.delta }}] = ["C","{{ intervale.name  }}","{{ intervale.color  }}"];
                {% endfor %}
                new diagram("diagram",datas);
            </script>
        </div>
        <div style="margin-right:50px;text-align: justify; ">
            <ul id="scaleList">All intervals matching scales  ({{ matchingScales|length }}):
                {% for scale in matchingScales %}
                    <li><a href="{{ path('site_scale_show',{ scale_name:scale.scaleName }) }}">{{ scale.scaleName }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <h2>Scale in key:</h2>
        <ul id="populatedScale">
            {% for p in populatedScale %}
                <li>
                    <a  href="{{ path('site_rootscale_index',{ root:p.rootName , scale:scale.name }) }}">details</a>
                    <a  onclick="jnSynth.play('{{  p.digitAList }}','scale')"  href="#play">play</a>

                </li>
                <li>

                    <ul class="rootedPopulatedScale">
                        <span class="rootScaleName">{{ p.rootName }} {{ scale.name }}</span>
                        {% for tone in p.toneList|split(',') %}
                            <li>{{ tone }}</li>
                        {% endfor %}
                    </ul>

                </li>
            {% endfor %}

        </ul>
    </div>
    <div id="col2">


        <h2>{{ instrument.name|capitalize }} neck for {{ westernSystem.name }} {{ scale.name  }}</h2>
        <div>
            <canvas id="myNeck" width="500" height="200"></canvas>
        </div>

        <div>
            {% if  fingerings|length > 0 %}
                <h2>fingerings ({{ fingerings|length }})</h2>
                <ul  class="fingeringList">
                {% for fingering in fingerings %}
                    <li>
                        <div class="fingeringContainer">
                            <canvas id="myFingering_{{ fingering.fId }}" width="100" height="80"></canvas>
                        </div>
                        <script>
                                var f = fingering.init("myFingering_{{ fingering.fId }}" ,'{{ fingeringsJSON }}','{{ instrumentJSON }}' );
                        </script>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                No matching fingering found ...
            {% endif %}
        </div>



    </div>
</div>
    <script>
        var n = neck.init("myNeck" );
        n.displayedCase=14;
        n.insertFingerings('{{ fingeringsJSON }}');
        n.insertRootScale({{ westernSystem.id }},{{ scale.id }});

    </script>
{% endblock %}