{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ westernSystem.name }} {{ scale.name }}</h1>
    <div id="container1">

        <div id="col1">
            <h2><a href="{{ path('site_scale_show',{ scale_name:scale.name }) }}">scale {{ scale.name }}</a>:</h2>
            <div>
                <ul class="tagged">tagged as:
                    {% for descriptor in scale.descriptors %}
                        <li">
                            <a  style="color: #{{ descriptor.color }}" href="{{ path('site_scale_descriptor_show',{descriptor_name:descriptor.name}) }}">{{ descriptor.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <ul style="margin: 10px;padding: 10px;text-align: justify; border-bottom: .1px solid #ccc">
                    Other roots:
                    {% for root in roots|root %}
                        <li style="list-style: none;display: inline;">
                            <a href="{{ path('site_rootscale_index',{root:root.name,scale:scale.name}) }}">{{ root.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>Intervals</h2>
                {%  for intervale in scale.intervales %}
                    <span class="intervale" style="color: #{{  intervale.color }}">{{  intervale.name }}</span>
                {% endfor %}
            </div>

            <div>
                <h2>Diagram:</h2>
                <canvas id="diagram" width="180" height="180"></canvas>
                <script>
                    var datas = {};
                    {% for intervale in scale.intervales %}
                    datas[{{ intervale.delta }}] = ["C","{{ intervale.name  }}","{{ intervale.color  }}"];
                    {% endfor %}
                    new diagram("diagram",datas);
                </script>
            </div>
            <div >
                {% if  matchingScales|length > 0 %}
                    <h2>matching root scale ({{ matchingScales|length }})</h2>
                    <ul class="neckResultsList">
                        {% for matchingScale in matchingScales %}

                            <li style="display: inline;margin: 5px;" >
                                <a href="{{ path('site_rootscale_index',{ root:matchingScale.rootName , scale:matchingScale.scaleName }) }}">
                                    {{ matchingScale.rootInfoTone }} {{ matchingScale.scaleName }}
                                </a>
                            </li>

                        {% endfor %}
                    </ul>

                {% else %}
                    No matching root scale ...
                {% endif %}
            </div>

        </div>

        <div id="col2">
            <h2>Scale in key off {{ westernSystem.name }}:</h2>
            <ul id="populatedScale">
                {% for p in populatedScale %}
                    <li>
                        <a  onclick="jnSynth.play('{{  p.digitAList }}','scale')"  href="#play">play</a>
                        <ul class="rootedPopulatedScale">
                            <span class="rootScaleName">{{ p.rootName }} {{ scale.name }}</span>
                            {% for tone in p.toneList|split(',') %}
                                <li>{{ tone }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}

            </ul>



            <h2>
                {% if instrument.icon is not null %}
                    <img class="instrumentIcon" src="{{ asset('uploads/instrument/' ~ instrument.icon) }}">
                {% endif %}
                {{ instrument.name|capitalize }} neck for {{ westernSystem.name }} {{ scale.name  }}</h2>

            <div id="neck">
                <ul>
                    <li><label for="instrumentSelector">instrument</label><select id="instrumentSelector"></select></li>
                    <li>case {<span id="nbrCasesReset" class="textButton">5</span>|<span id="nbrCasesAdd" class="textButton">+</span>|<span id="nbrCasesRemove" class="textButton">-</span>|<span id="nbrCasesMax" class="textButton">all</span>}</li>
                    {# <li>first {<span class="textButton">0</span>|<span class="textButton"><</span>|<span class="textButton">></span>}</li>#}
                    <li><label for="inlaysSelector">show inlays</label>
                        <input type="checkbox" id="inlaysSelector" checked></li>
                    <li><label for="fretNumSelector">show fret number</label>
                        <input type="checkbox" id="fretNumSelector" checked></li>
                    <li>
                        <label for="soundSelector">sound</label>
                        <select id="soundSelector">
                            <option value="piano" selected="selected">piano</option>
                            <option value="organ" >organ</option>
                            <option value="acoustic" >acoustic</option>
                            <option value="edm" >edm</option>
                        </select>
                    </li>
                </ul>
                <div>
                    <canvas id="myNeck" width="500" height="200"></canvas>
                </div>
            </div>
            <div>
                {% if  fingerings|length > 0 %}
                    <h2>fingerings ({{ fingerings|length }})</h2>
                    <ul  class="fingeringList">
                        {% for k,fingeringJSON in arrayOfFingeringJSON %}
                            <li>
                                <div class="fingeringContainer">
                                    <canvas id="myFingering_{{ k }}" width="100" height="160"></canvas>
                                </div>
                                <script>
                                    var f = fingering.init(
                                            "myFingering_{{ k }}" ,
                                            '{{ fingeringJSON }}',
                                            '{{ instrumentJSON }}' );
                                </script>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No matching fingering found ...
                {% endif %}
            </div>


        </div>
        <script>
            var n = neck.init("myNeck" );
            n.displayedCase=14;
            n.insertFingerings('{{ fingeringsJSON }}');
            n.insertRootScale({{ westernSystem.id }},{{ scale.id }});

        </script>
    </div>
{% endblock %}
