{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1>{{ tune.title }}</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ realbook.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-xs" role="group" >
                        <a class="btn btn-default" href="{{ path('site_realbook') }}">
                            <i class="glyphicon glyphicon-triangle-left"></i> {% trans %}back to tune list{% endtrans %}</a>
                        <a class="btn btn-default" href="{{ path('site_realbook_download',{ tune:tune.title, realbook:realbook.name }) }}">
                            <i class="glyphicon glyphicon-download-alt"></i>  {% trans %}download{% endtrans %}</a>
                    </div>
                </div>
            </div>
            {% if versions|length > 0 %}
                <div>
                    <h3>Other version</h3>
                    <ul class="list-unstyled">
                        {%  for version in versions %}
                            <li>
                                <i class="glyphicon glyphicon-eye-open"></i>
                                 <a href="{{ path('site_realbook_tune',{ tune:tune.title, realbook:version.realbookName }) }}">{{ tune.title }} • {{ version.indexName }}</a>
                            </li>
                        {%  endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-8 text-center">
            <img class="img-responsive img-thumbnail"  src="{{ asset('bundles/site/realbooks/'~img) }}" />
        </div>
    </div>


{% endblock %}
