{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Instrument</h1>
    <ul class="contentMenu">
        <li>
            <a href="{{ path('instrument_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('instrument_edit', { 'id': instrument.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instrument.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ instrument.name }}</td>
            </tr>
            <tr>
                <th>Casemax</th>
                <td>{{ instrument.caseMax }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>
                    {% if instrument.color is not null %}
                    <span style="color:  #{{ instrument.color }}">{{ instrument.color }}</span>
                    {% else %}
                        No color set ...
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>
                    {% if instrument.icon is not null %}
                        <img src="{{ asset('uploads/instrument/' ~ instrument.icon) }}">
                    {% else %}
                        No icon uploaded ...
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


{% endblock %}
