{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <h1>Fingering</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fingering.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fingering.description }}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ fingering.difficulty }}</td>
            </tr>
            <tr>
                <th>finger</th>
                <td>
                    {% for finger in fingering.fingers %}
                        <li>{{ finger.y }} • {{ finger.x }}</li>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_fingering_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_fingering_edit', { 'fingeringId': fingering.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
